<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update a Movie</title>
</head>
<body>
<h2>영화 수정</h2>
<form action="#" method="post" th:object="${movie}"
      th:action="@{/admin/movies/{id}/edit(id=${movie.id})}">
    <div>
        <label for="title">제목 : </label>
        <input type="text" name="title" id="title" th:value="*{title}">
    </div>
    <div>
        <label for="genre">장르 :
            <select th:field="*{genre}" name="genre" id="genre">
                <option th:each="genre : ${genres}"
                        th:text="${genre.description}"
                        th:value="${genre}"></option>
            </select>
        </label>
    </div>
    <div>
        <label for="actor">배우 :</label>
        <select id="actor">
            <option th:each="actor : ${actors}"
                    th:text="${actor.stageName}"
                    th:value="${actor.id}">
                배우
            </option>
        </select>
        <button type="button" onclick="addActor()">추가</button>
        <div id="actors">
            <div class="actor" th:each="starringActor : ${movie.starringActors}">
                <input type="hidden" name="actorId" th:value="${starringActor.actor.id}">
                <span th:text="${starringActor.actor.stageName}"></span>
                &nbsp;
                <label>주연 여부 : </label>
                <select name="isLeadRole">
                    <option value="true" th:selected="${starringActor.isLeadRole}">주연</option>
                    <option value="false" th:selected="!${starringActor.isLeadRole}">조연</option>
                </select>
                <button type="button" th:onclick="removeActor(${starringActor.id})">삭제</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="submit">수정</button>
    <a th:href="@{/admin/movies}">취소</a>
</form>
</body>
</html>
