<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
<h2>영화 목록</h2>
<a href="/admin/movies/new">추가</a>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>ID</th>
        <th>제목</th>
        <th>장르</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie, movieStat : ${movies}">
        <td th:text="${movieStat.count}">번호</td>
        <td th:text="${movie.id}">ID</td>
        <td>
            <a th:href="@{/admin/movies/{id}(id=${movie.id})}"
               th:text="${movie.title}">제목</a>
        </td>
        <td th:text="${movie.genre.description}">장르</td>
    </tr>
    </tbody>
</table>
</body>
</html>
